* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 35vw;
  padding-right: 1rem;
  padding-left: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(1fr, auto);
  grid-template-areas:
    "one one"
    "two three"
    "four four"
    "five five"
    "six six"
    "seven seven";
}

#one {
  grid-area: one;
  display: flex;
  justify-content: space-around;
  background-color: #002b5c;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#one i {
  color: white;
}
#two {
  grid-area: two;
}

#two img {
  width: 16rem;
  height: 18rem;
}

#three {
  grid-area: three;
}

#three h2 {
  font-size: 1.6rem;
  color: #002b5c;
}

.prices {
  display: flex;
}

#camel {
  color: #444;
  font-size: 1.4rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

#newPrice {
  color: red;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#oldPrice {
  color: #333;
  font-size: 1.2rem;
  text-decoration: line-through;
}
.prices {
  margin-top: 1rem;
}

#quantity {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#price {
  color: 1.4rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

#four {
  grid-area: four;
}

#four input {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  width: 80%;
  background-color: #f5f5f5;
  border: 0;
  outline: 0;
}

#four span {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.additionItems {
  background-color: #f5f5f5;
}

#four input::placeholder {
  color: #002b5c;
}

#checkout,
#continueShopping {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  outline: 0;
  cursor: pointer;
}

#checkout {
  color: white;
  font-weight: 600;
  background-color: #002b5c;
  font-size: 1.5rem;
  border: 0;
}

#continueShopping {
  color: #002b5c;
  background-color: white;
  border: 1px solid #002b5c;
}

#five {
  grid-area: five;
}

.cartSubtotal {
  display: flex;
  margin-bottom: 1rem;
  border-top: 1px solid #333;
  margin-top: 1rem;
  padding-top: 1rem;
}

.cartSubtotal p:first-of-type {
  margin-right: 2rem;
  font-size: 1.3rem;
  color: #002b5c;
  font-weight: 600;
}

.cartSubtotal p:last-of-type {
  font-size: 1.3rem;
}

#freeShipping {
  font-size: 1.2rem;
  color: #002b5c;
  border-bottom: 1px solid #333;
  padding-bottom: 1rem;
}

progress {
  width: 50%;
  margin-bottom: 1rem;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}
